---
import BlogPreview from "../components/BlogPreview.astro";
import Template from "../layout/template.astro";
const isDev = import.meta.env.DEV;
const allPosts = Object
  .values(import.meta.glob('./posts/*.md', {eager: true}))
  .filter((post: any) => post.frontmatter.published || isDev);
---
<style>
    .presentation {
        border-radius: 0.5rem;
        border: 1px solid #eaeaea;

        padding: 1rem;
    }

    .articles {
        display: flex;
        flex-direction: column;

        min-width: 70vh;
    }
</style>
<Template>
    <h2>Derniers articles</h2>
    <div class="articles">
      {allPosts.length === 0 && <p>Aucun article pour le moment.</p>}
      {allPosts.map((post: any) => {
        return (
                <BlogPreview post={post.frontmatter} url={post.url}/>
        );
      })}
    </div>
</Template>
