---
import Template from "../layout/template.astro";
import BlogPreview from "../components/BlogPreview.astro";
const allPosts = Object.values(import.meta.glob('./posts/*.md', {eager: true}));
---
<style>
    .presentation {
        border-radius: 0.5rem;
        border: 1px solid #eaeaea;

        padding: 1rem;
    }

    .articles {
        display: flex;
        flex-direction: column;

        min-width: 70vh;
    }
</style>
<Template>
    <h2>Derniers articles</h2>
    <div class="articles">
      {allPosts.map((post: any) => {
        return <BlogPreview post={post.frontmatter} url={post.url}/>;
      })}
    </div>

</Template>
