* {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,Inter,sans-serif;
    background-color: white;
    font-size: 16px;
    line-height: 1.5rem;

    color: rgba(3, 9, 17, 0.92);
}

h1 {
    font-size: 2rem;
    margin-top: 4rem;
}

h2 {
    font-size: 1.5rem;
    margin-top: 3rem;
}

pre {
    padding: 1.5rem;
    border-radius: 0.5rem;
}

code, code * {
    background-color: rgb(32, 40, 58);
}

blockquote {
    border-left: 1px solid black;

    margin: 2rem 0;
    padding: 0 0 0 2rem;
}

blockquote p {
}

