---
const isDev = import.meta.env.DEV;
const post = Astro.props.post;
---
<style>
.check {
    background-color: #F9F4EA;
    border: 2px dashed #605F4B;
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 5rem;
}

.check * {
    background-color: #F9F4EA;
}

.check h2 {
    margin: 0;
}

.check ul {
    padding: 0 1rem;
    margin: 1rem 0 0;
}
</style>

{isDev && (
<div class="check">
    <h2>Check de l'article</h2>
    <ul>
        <li><strong>Est publié :</strong> {post.published ? "(Publié ✅)" : "(Draft ✏️)"}</li>
        <li><strong>A une description :</strong> {post.description}</li>
    </ul>
</div>

  )}
