---
import dayjs from "dayjs";
const {post: {title, pubDate, published}, url} = Astro.props;

const publicationDate = dayjs(pubDate).format('D MMM YYYY');
const isDev = import.meta.env.DEV;
---
<style>
    .preview {
        display: flex;
        justify-content: space-between;
    }

    .date {
        color: rgba(5, 5, 5, 0.70);
        font-size: 0.8em;
    }
</style>

<div class="preview">
    {isDev && (published ? "(Publié ✅)" : "(Draft ✏️)")}
    <a href={url}>
        <span>{title}</span>
    </a>
    <span class="date">{publicationDate}</span>
</div>
<!--<hr/>-->
