---

---
<style>
    .header {
        border-right: 1px solid #eaeaea;
        width: 25vh;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content {
        padding: 1rem;
    }

    h1 {
        font-size: 3rem;
        line-height: 2rem;
        background: #9C9E80;
    }

    .networks {
        border-top: 1px solid #eaeaea;
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }
</style>
<header class="header">
    <div class="content">
        <a href="/"><h1>Adrien Saunier</h1></a>

        <p class="presentation">
            Bienvenue sur mon blog ! Je suis Adrien Saunier, un ingénieur logiciel basé à Paris, France. J'écris sur le
            développement logiciel, les technologies web et d'autres sujets qui m'intéressent.
        </p>
    </div>

    <div class="networks">
        <a href="www.linkedin.com/in/saunier-adrien" rel="noopener" target="_blank">LinkedIn</a>
        <a href="https://github.com/Akhilian/">GitHub</a>
    </div>
</header>


