---
import '../style/global.css'
import Header from "../components/Header.astro";

const { description } = Astro.props;
---
<style>
    body {
        margin: 0 auto;
        max-width: 1024px;
        padding: 0;

        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .content {
        display: flex;
        flex-direction: column;

        padding: 0 2rem 2rem 2rem;
    }
</style>

<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/svg+xml" href="/blogging.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="generator" content={Astro.generator}/>
    {description && (
        <meta name="description" content={description}/>
    )}
    <meta lang="fr"/>
    <title>Adrien Saunier - Blog</title>
</head>
<body>
<Header/>
<div class="content">
    <slot/>
</div>
<!-- 100% privacy-first analytics -->
<script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</body>
</html>
